.buttonWrapper {
  width: 158px;
  height: 51.5px;
  padding: 0 20px;
  border: 1px solid $slate900;
  border-radius: 23px;
  margin-right: 21px;
  box-shadow: 5px 4.5px $slate900;
  & > button {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    & > img {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 376px) {
  .buttonWrapper {
    & > button {
      & > img {
        margin-right: 0;
      }
    }
  }
}
